<div class="flex justify-center items-center mt-16 fadeIn">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    [formGroup]="ticTacToeForm"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="size">
        The size of the Tic tac Toe game?
      </label>
      <input
        formControlName="size"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="size"
        type="number"
        placeholder="size"
      />
      <div
        *ngIf="
          ticTacToeForm.controls['size'].errors &&
          (ticTacToeForm.controls['size'].dirty ||
            ticTacToeForm.controls['size'].touched)
        "
        class="bg-100 border-t-4 border-500 rounded-b text-900 px-4 py-3 shadow-md fadeInFast"
        role="alert"
      >
        <div class="flex">
          <div class="py-1">
            <svg
              class="fill-current h-6 w-6 text-crimson-500 mr-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
              />
            </svg>
          </div>
          <div>
            <p class="font-bold">Form size is invalid</p>
            <p class="text-sm">
              The input is required and should only be a number from 0 to 9
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="icon">
        What characters you want to play as?
      </label>
      <ul
        class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      >
        <li
          class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600"
          *ngFor="let icon of icons"
        >
          <div class="flex items-center ps-3 mr-3">
            <input
              id="list-radio-license"
              type="radio"
              formControlName="symbol"
              [value]="icon.value"
              name="symbol"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            />
            <label
              for="list-radio-license"
              class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ icon.value }}
            </label>
            <div [innerHTML]="icon.svg | safeHtml" class="mt-2"></div>
          </div>
        </li>
      </ul>
      <!--https://flowbite.com/docs/forms/radio/ and https://tailwindcss.com-->
    </div>
    <div class="flex items-center justify-between">
      <button
        [disabled]="ticTacToeForm.invalid"
        type="button"
        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 transition transform duration-150 ease-in-out hover:bg-blue-600 hover:scale-105 active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed"
        (click)="submitForm()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
