<app-prompt
  (showBoardEmitter)="showBoardFromPrompt($event)"
  (resetBoardEmitter)="resetBoardEmitterFromPrompt($event)"
  (iconSelected)="getPlayerSignsFromPrompt($event)"
  (sizeBoardEmitter)="setSizeOfBoard($event)"
></app-prompt>
<app-tictactoe-form
  *ngIf="showBoard"
  class="fadeIn"
  [resetBoard]="resetBoard"
  [boardSize]="boardSize"
  [playerSigns]="playerSigns"
  (congratulated)="onCongratulation($event)"
></app-tictactoe-form>
<app-congratulation-board
  [showCongrats]="congratulations"
></app-congratulation-board>
